.grid {
  max-width: 1720px;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;

  * {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
  }
}

.section-margin-bottom {
  margin-bottom: 90px;
}

@media only screen and (max-width: 1500px) {
  .title {
    font-size: 50px;
    line-height: 64px;

    * {
      font-size: 50px;
      line-height: 64px;
    }
  }
}


@media only screen and (max-width: $mobile) {
  .grid {
    width: 100%;
    padding: 0px 30px;
   
  }

  .section-margin-bottom {
    margin-bottom: 70px;
  }

  .title {
    font-size: 32px;
    line-height: 44px;

    * {
      font-size: 32px;
      line-height: 44px;
    }
  }
}